body {
  background-color: rgb(255, 246, 221);
  border
}

body > h1 {
    margin: 0;
    padding: 10px;
    font-style: italic;
}

#container {
    padding: 25px;
    border: 2px solid black;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#buttons > button {
    background-color: whitesmoke;
}

#content {
    margin-top: 25px;
    display: flex;
    flex-flow: column;
    padding-right: 25px;
    padding-left: 25px;
}