
body {
    background-color: #282A35;
}

#appendBox {
    background-color: #333;
    padding: 10px;
    text-align: center;
}
#appendBox > p {
    text-align: center;
    color:white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 22px;
    font-weight: bold;
}

#appendBox > input {
    text-align: center;
}

#submitButton {
    background-color: whitesmoke;
    border-style: none;
    padding: 2px;
    width: 60px;
}

#pendingList {
    margin-top: 20px;
    background-color: #0074D9;
    padding: 10px;
    text-align: center;
    color: white;
    height: auto;
}

/*Task Bar*/
#myUl > li {
    list-style: none;
    padding: 5px;
    background-color: orangered;
    margin: 5px;
    border-top: 2px solid yellow;
    border-left: 3px solid orange;
}

#completeList {
    margin-top: 20px;;
    background-color: #2ECC40;
    padding: 10px;
    text-align: center;
    color: white;
    height: auto;
}